.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
	padding: 1.8rem 10.3rem 1.7rem 10rem;
}
.header-info{
	display: flex;
	align-items: center;
	column-gap: 1rem
}
.header-info > :nth-child(2){
	margin-left: 6rem;
	margin-right: 4rem;
}