.fascinate{
	position: relative;
	min-height: 600px;
	padding: 12.5rem 21rem 0 10rem;
}
.fascinate-title{
	font-size: 9.6rem;
	line-height: 9.6rem;
	color: rgba(255, 255, 255, 0.2);
}
.fascinate-title_word{
	display: block;
	text-align: right;
	font-size: 15.4rem;
	line-height: 15.4rem;
}
.fascinate::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	background-color: #872D36;
	z-index: -1;
}
.fascinate-subtitle{
	text-align: center;
	font-size: 4.8rem;
	line-height: 5.28rem;
	color: #fff;
}
.fascinate-text-block{
	display: flex;
	column-gap: 2rem;
}
.fascinate-text-block__text1{
	font-size: 9.526rem;
	line-height: 10.478rem;
	font-weight: 600;
	text-transform: uppercase;
	color: #D1232A;
}
.fascinate-text-block__text2{
	border-left: 2px solid #D1232A;
	padding-left: 1rem;
	font-size: 1.8rem;
	line-height: 2.52rem;
	font-weight: 600;
	color: #fff;
}