.main-page__head-block{
	display: flex;
	column-gap: 16.7rem;
}
.main-page__info-list{
	display: flex;
	column-gap: 4rem;
	justify-content: space-between;
	padding-left: 10rem;
}
.main-page__director-note{
	padding: 3rem 0 6rem 0;
}