/*fonts*/
@font-face {
font-family: "Montserrat"; 
src: url("../fonts/monserrat/Montserrat-Light.ttf") format("truetype");  
font-weight: 300; 
} 
@font-face {
font-family: "Montserrat"; 
src: url("../fonts/monserrat/Montserrat-Regular.ttf") format("truetype");  
font-weight: 400; 
}
@font-face {
font-family: "Montserrat"; 
src: url("../fonts/monserrat/Montserrat-Medium.ttf") format("truetype");  
font-weight: 500; 
}
@font-face {
font-family: "Montserrat"; 
src: url("../fonts/monserrat/Montserrat-SemiBold.ttf") format("truetype");  
font-weight: 600; 
}
@font-face {
font-family: "Montserrat"; 
src: url("../fonts/monserrat/Montserrat-Bold.ttf") format("truetype");  
font-weight: 700; 
}
/*base- styles*/
* {
	box-sizing: border-box;
}
:root {
  font-size: 10px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

img {
  display: block;
}
ul {
  list-style: none;
}

li {
  text-decoration: none;
}
input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
