.primary-text{
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 2.2rem;
	color: #404040;
}
.primary-text2{
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.95rem;
	color: #404040;
}

.head-title{
	font-size: 6.8rem;
}